#second-aside {
    text-align: center;
    margin: 4.375rem 0;

    & .overline {
        text-transform: uppercase;
        color: var(--content-secondary);
        font: var(--overline);
    }

    & .sorted-numbers {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .75rem;
    }
    
    & .numbers {
        position: relative;
        display: inline-block;
        color: transparent;
        font: 700 3rem/1 var(--ff-mono);
        padding: 1.325rem;
        animation: 
            textFadeIn 1s var(--text-delay) ease forwards, 
            textColor 1s var(--color-delay) ease forwards;
    }
    
    & .numbers::before {
        content: '';
        position: absolute;
        background: var(--content-brand);
        border-radius: 1.375rem;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;

        animation: 
            backgroundScale .7s var(--bg-scale-delay) ease forwards, 
            backgroundReverse 1s var(--bg-reverse-delay) ease forwards, 
            backgroundRotation 1.2s var(--bg-rotate-delay) ease;
    }
}

@keyframes backgroundRotation {
    0% { 
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes backgroundScale {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes backgroundReverse{
    to {
        scale: .9;
        opacity: 0;
    }
}

@keyframes textFadeIn {
    to {
        color: var(--color-inverse);
    }
}

@keyframes textColor {
    to {
        color: var(--content-brand);
    }
}