aside {
    margin-bottom: 4.94rem;
}

aside p {
    padding-top: 2px;
    margin-bottom: 2.5rem;
    font: var(--parag-md);
    color: var(--content-tertiary);
}

aside form {
    display: flex;
    gap: .75rem;

    & .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 5.375rem;
        margin-bottom: 1.25rem;

        & label {
            text-align: center;

            & .input-styled {
                margin-top: .5rem;
            }
        }
    }

}

div input {
    width: 100%;
    background-color: var(--bg-secondary);
    border: none;
    border-radius: .5rem;
    padding: .25rem .5rem;
    
    font: var(--display-sm);
    color: var(--content-primary);
    text-align: center;
    transition: background-color 300ms ease-in-out;
}

.input-wrapper > label {
    transition: color 300ms ease;
}

.input-wrapper > label:is(:hover, :focus-within) {
    color: var(--content-brand);
    cursor: pointer;
}

div input:is(:hover, :focus-within) {
    background-color: var(--bg-tertiary);
    border: none;
    outline: none;
    cursor: pointer;
}

div .input-styled {
    position: relative;
    width: 100%;
}

div .input-styled::after {
    content: "";
    position: absolute;
    border-radius: .5rem;
    inset: -1px;
    opacity: 0;
    background-image: linear-gradient(
        90deg,
        #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%
    );
    z-index: -1;

    transition: opacity 300ms ease;
}

div .input-styled:hover::after,
label:hover > .input-styled::after {
    opacity: 1;
}

div .input-styled:focus-within::after {
    content: "";
    position: absolute;
    border-radius: .5rem;
    inset: -.15rem;
    opacity: 1;
    background-image: linear-gradient(
        90deg,
        #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%
    );
    z-index: -1;
    transition: all 150ms ease;
}