#second-aside {
    text-align: center;
    margin: 4.375rem 0;

    & .overline {
        text-transform: uppercase;
        color: var(--content-secondary);
        font: var(--overline);
    }

    & .sorted-numbers-container {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
    
    & .numbers {
        position: relative;
        display: inline-block;
        color: var(--color-inverse);
        font: 700 3rem/1 var(--ff-mono);
        padding: 1.325rem;
        /* opacity: 0; */
        /* animation: numberOpacity .5s 2.5s ease forwards; */
    }
    
    & .numbers::before {
        content: '';
        position: absolute;
        background: var(--content-brand);
        border-radius: 1.375rem;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        animation: backgroundOpacity .7s ease forwards, backgroundRotation 2s .7s ease;

    }
}

@keyframes backgroundRotation {
    0% { 
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes backgroundOpacity {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
        /* opacity: 1; */
    }
}

@keyframes numberOpacity {
    to {
        opacity: 1;
    }
}