button {
    font: var(--label-md);
    color: var(--content-primary);
    background-color: var(--bg-tertiary);
    border: none;
    outline: none;
    border-radius: .5rem;

    margin-top: 2.5rem;
    padding: 1rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    cursor: pointer;
    position: relative;

    transition: background-color 300ms ease;
}

button::after {
    content: "";
    position: absolute;
    border-radius: .5rem;
    width: 101%;
    height: 107%;
    bottom: -1.6px;
    opacity: 0;
    background-image: linear-gradient(
        90deg,
        #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%
    );
    z-index: -1;

    transition: opacity 300ms ease-in-out;
}

button:hover::after,
button:focus-within::after,
button:is(:hover, :focus) {
    background-color: var(--bg-secondary);
    opacity: 1;
}